# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
#.env

# Logs
logs/*.log
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
docs/diagramaClases_original.drawio
INSTRUCCIONES_TESTER.md
crear_ejecutable.bat
.gitignore
.gitignore
database/setup_sqlite.py
.gitignore
src/config/db_connection_sqlite.py
database/init_db_sqlite.sql
main_portable.py
